.about-section {
    margin-bottom: 120px;
    scroll-margin-top: 140px;
}

.about-title {
    margin-bottom: 30px;
}

@media (max-width: 992px) {
    .about-section {
        margin-bottom: 60px;
    }
}