.advantages-section {
    margin-top: 120px;
}

.advantages-title {
    margin-bottom: 60px;
}

.advantages-img {
    width: 120px;
    height: 120px;
    margin-bottom: 5px;
}

.advantages-card-description {
    width: 220px;
}