.catalog-section {
  scroll-margin-top: 140px;
  margin-bottom: 120px;
}

.catalog-title {
  margin-bottom: 60px;
}

.catalog-card {
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 330px;
  border: 1px solid rgba(175, 175, 175, 0.2);
  background: #fff;
  cursor: pointer;
}

.catalog-img {
  width: 100%;
  height: auto;
  padding: 30px 30px 20px;
}

.card-line {
  width: calc(100% - 30px);
  height: 1px;
  background-color: #efefef;
  margin: 0 auto 20px;
}

.catalog-card-title {
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.catalog-card:hover {
  border-color: #74a3ff;
  color: #74a3ff;
}

.catalog-card:hover > .card-line {
  background-color: #74a3ff;
}

.catalog-card:active {
  border-color: #4200ff;
  color: #4200ff;
}

.catalog-card:active > .card-line {
  background-color: #4200ff;
}
