.subscription-section {
  background-color: #4685ff;
  height: 134px;
  padding: 45px 0;
}

.subscription-description {
  color: #fff;
  width: 161px;
  line-height: normal;
}

.subscription-form-control {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 45px;
}

.subscription-input {
  flex-grow: 1;
  padding: 10px 20px;
  border: 0;
  color: #000;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: normal;
  outline: none;
}

.subscription-input::placeholder {
  color: rgba(102, 112, 128, 0.4);
}

.subscription-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  background-color: #fff;
  padding: 8px 5px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .subscription-section {
    display: none;
  }
}
